@charset "UTF-8";
/* CSS Document */
body {
	font-family: Roboto,"Helvetica Neue",Helvetica,sans-serif;
	background-color: #FFFFFF;
	font-size: 80%;
	margin: 1em;
	padding: 0;
	color: #444;
}

a:link {
	text-decoration:none;
	color: #245dc1;
	}
a:visited {
	text-decoration:none;
	color: #7759ae;
}
a:hover {
	text-decoration:underline;
	color: #245dc1;
}
a:active {
	text-decoration:underline;
	color:#F63;	
}

.websearch-blue-text {
	color: Blue;
}

a.current-file {
	text-decoration:none;
	color:#444;
	font-weight: bold
}
p.copyright {
	font-size: .9em;
	color: #666;
	text-align: left;
}

p.BackToTop {
	font-size: .85em;
	text-align: right;
	font-style: italic
}

p.sidebar-toc {
margin-bottom: 0.0em;
line-height:140%;
}

p.sidebar-toc-sub {
margin-bottom: 0.0em;
margin-left: 1em;
line-height:140%;
}

p.selected {
	color: Green;
}

a[href^="http://"]:after, 
a[href^="https://"]:after {
  content: url(../art/common/external_file.png);
  margin: 0 0 0 5px;
}


em {
	font-style: italic
}

h1 {
	margin-bottom: 2.75em;
	color: #444;
	font-size:.95em;
	text-align:left;
	}

h2 {
	margin-bottom: 1em;
	color: #444;
	font-weight:normal;
	font-size:2em;
	text-align:left;

	}

h3 {
	margin: 1em 0;
	color: #444;
	padding-top: .75em;
	font-size:1.2em;
	line-height: 137%;	}

h4 {
	margin: 1em 0;
	color: #444;
	font-size:1em;
	}

h5 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size:1em;
	color: #444;
}

b, strong {
	font-weight: bold
}
code, pre {
	font-family: monospace, monospace;
	color: #060;
	font-size: 1em;
}

pre {
	line-height: 169%;
	}
	
p {
margin-bottom: 0.75em;
font-size: 1em;
line-height: 169%;
}

p.sidebar-toc-home {
margin-top: 0.25m;
margin-bottom:2em;
font-size: 1em;
font-weight: bold;
/*color: #444;*/
}

li, ul, ol {
margin-top: 0.75em;
font-size: 1em;
}

ul.main_toc {
margin-top: 0em;
margin-bottom: 0em;
list-style: none;
}

li.main_toc {
margin-top: 0em;
margin-bottom: 0em;
}

li {
	margin-left: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
    line-height: 169%;
}

div.note {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 2px 0 2px 0px;
}

p.note, div.note {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	min-height: 30px;
	padding: 8px 0 8p 54px;
	min-height: 0;
	padding-left: 0;
}

div.note, div.alert, div.warning, div.tip {
	margin: 1em 0;	
}

div.alert, div.warning {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	background-image:url(../art/common/caution.png);
	background-position: 2% 14px;
	background-repeat: no-repeat;
	background-size: auto 32px;
	min-height: 30px;
	padding: 8px 8px 8px 59px;
	color: #dd4b39;
}

div.tip {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	background-image:url(../art/common/tip.png);
	background-position: 2% 14px;
	background-repeat: no-repeat;
	background-size: auto 32px;
	min-height: 30px;
	padding: 8px 8px 8px 59px;
}

hr {
	border: none;
	border-top: 1px dashed #e5e5e5;
}

ol.spaced-list, ul.spaced-list .spaced-list>li+li {
	margin-top: 1em;
}
.content-container .nice-table th {
	background-color: #f5f5f5
}
.content-container .nice-table th, .content-container .nice-table td {
	border: 1px solid #eee;
	padding: 4px 12px
}
.content-container .nice-table td {
	background-color: #fafafa;
	border-color: #eee
}
.content-container .nice-table tr:nth-of-type(2n) td {
	background-color: #fff;
	border-right-color: #eee
}
.content-container .nice-table.no-stripes td {
	background-color: #fff
}
.content-container .nice-table tr:nth-of-type(2n) .no-stripes {
	background-color: #fafafa
}
.content-container .nice-table .no-stripes {
	background-color: #fff
}
th, td
{
	border: 1px solid #eee;
	padding-bottom:4px;
	padding-top:4px;
	padding-left: 12px;
	padding-right: 12px;
	text-align:left;
	vertical-align:top;
}
th {
	background-color:#f5f5f5;
	color: #333;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td.main
{
	border: 0px solid #eee;
	padding-bottom:2px;
	padding-top:2px;
	padding-left: 2px;
	padding-right: 10px;
	text-align:left;
	vertical-align:top;
}

img.inline
{
	vertical-align: bottom;
}

img.line-sized
{
	max-height: 1.3em;
}
