# QT Creator project files
/*.config
/*.creator
/*.creator.user
/*.files
/*.includes
/*.cflags
/*.cxxflags

# compiled python
/**/*.pyc

# no tarballs
/**/*.tar.gz

# no images
/**/*.tif
/**/*.png

# no globes or pyramids
/**/*.glb
/**/*.glc
/**/*.glm
/**/*.pyr
