
body {
	font-family: arial, sans-serif;
	background-color:#fff;
	font-size: 83%;
	margin-bottom:50px;
	color:000;
	}

#wrapper{
	width:100%;
	}
	
/* ########## PAGE LAYOUT ########## */

#header {
  	position: relative;
	height:60px;
  	padding-top: 12px;
	margin:0;
	}
	
#pagecontent{
	padding-bottom:5em;
	border-left:thin dotted #bbb ;
	margin:0 0 0 170px;
	}
	
#footer{
  	height: 55px;
  	padding-top: 20px;
	clear:both;
	font-size:x-small;
	}

#sidenav {
	float:left;
	width:160px;
	margin:0 0 0 3px;
	background:#fff;
	padding:0;
	left:0;
	}
	
/* ########## END PAGE LAYOUT ########## */

/* ########## SIDE NAV ########## */

#sidenav ul{
	padding:0;
	margin:0;
	}
	
#sidenav ul li ul, #sidenav ul li ul li ul{
	padding:0;
	margin:0 0 0 .6em;
	}
	
#sidenav ul li{
	list-style:none;
	padding:0;
	margin:.1em 0 0 0;
	}
	
#sidenav ul li ul li{
	list-style:none;
	padding:0;
	margin:.1em 0 0 0;
	}
	
#sidenav ul li ul li ul li{
 	list-style:none;
	padding:1px;
	margin:.1em 0 0 0;
	}
		
#sidenav p {
	margin: 0 .3em 0 0;
	padding:1em 0 0 0;
	}

#sidenav ul li a, #sidenav ul ul li a, #sidenav ul ul ul li a{
  	color: #0000cc;
	display:block;
	width:92%;
	height:100%;
	text-decoration:none;
	padding:0;
	}
	
#sidenav ul li a:hover{
  	color: #0000cc;
	text-decoration:underline;
	}

#sidenav h1{
	font-weight:bold;
	font-size:100%;
	color:#666;
	position:relative;
	background-color:#eee;
	border:1px solid #bbb;
	margin:1em 0 0 0;
	padding:0 2px 0 2px;
	width:100%;
	left:-4px;
	}
	
.other{  /* little box for side nav */
	border-top:thin dotted #bbb;
	border-bottom:thin dotted #bbb;
	margin:3em 0 3em 0;
	padding: 0 0 10px 0;
	}

.line{  /* dotted line for division */
	border-top:thin dotted #bbb;
	margin:1em 0 0 0;
	padding:0;
	height:5px;
	}
	
/* ########## END SIDE NAV ########## */
	
/* ########## OTHER ELEMENTS ########## */	
	
#logo{  /* in header */
	float:left;
	width: 175px;
	top:0;
  	left:0;
	padding:0;
	margin:0;
	position:absolute;
	}
	
#doc_title{  /* in header */
	font-size:135%;
	font-weight:bold;
	background-color: #efefef;
	border-color: #ccc; 
	border-top: 1px solid;
	margin:0 0 0 170px;
	padding:.1em 0 .1em 3px;
	}
	
#page_title{
	font-size:135%;
	font-weight:bold;
	background-color: #fff;
	border: 0; 
	margin:10px 0 5px 10px;
	padding-left:0;
	border-color:; 
	border-bottom: none;
	}
	
.sidebox{
	width:20em;
	margin: 20px 0 0 22px;
	padding:0 0 1em 0;
	border-left:thin dotted #bbb;
	float:right;
	clear:right;
	position:relative;
	background-color:#fff;
	} 
	
.sidebox h2 {
	font-size:110%;
	font-weight:bold;
	background-color: #efefef;
	border-color: #ccc; 
	margin: 0 5px 0 4%;
	padding:.1em 3px .1em 5px;
	border:none;
	}
	
.sidebox p {
	margin: 0 0 0 25px;
	padding:1em 0 0 0;
	}

#footerlogo{  /* in footer */
	position: absolute;
	width: 175px;
	padding:0;
	margin:0;
	left:10px;
	}
	
#copyright {  /* in footer */
	text-align: center;
	margin:0px 0 0 175px;
	padding-top:30px;
	}

/* ########## END OTHER ELEMENTS ########## */	

/* ########## HYPERLINKS ########## */

a{
  	color: #0000cc;
	}
	
a:active {
  color: #cc0000;
  text-decoration:none;
}

a:visited {
  color: #551a8b;
}

.backtotop{
	float:right;
	clear:both;
	margin: 1.5em 0 1em 4em;
	position:relative;
	padding:0;
	font-size:x-small;
	}
	
.linkbox a{
	font-size:100%;
	font-weight:bold;
	border:1px solid;
	padding: 5px 10px 7px 10px;
	background-color: #efefef;
	border-color: #ccc; 
	}
	
.linkbox{
	margin: 1em 25px 1em 25px;
	}
	
.anchor, .anchor:hover, .anchor:active, .anchor:visited{
	color:#000000;
	}

/* ########## END HYPERLINKS ########## */

/* ########## FONT FORMATS ########## */

h1, h2, h3, h4, h5 {
	font-weight:bold;
	margin-bottom:0;
	}
	
h2, h3, h4, h5 {
	margin-left:25px;
	}

h1 {
	font-size:130%;
	margin:2em 0 0 10px; 
	padding:0 3px 0 3px;
	border-top: 1px solid;
	background-color: #efefef;
	border-color: #ccc; 
	}

h2 {
	font-size:120%;
	margin-top:1.5em;
	border-color: #ccc; 
	border-bottom: 1px solid;
	}

h3 {
	font-size:110%;	
	margin-top:.7em;
	position:relative;
	left:0;
	top:.7em;
	}
	
h4 {
	margin-top:.5em;
	font-size:100%;
	font-weight:bold;
	position:relative;
	left:0;
	top:.8em;
	}
	
h5 {
	margin-top:.4em;
	font-size:100%;
	font-weight:100;
	font-style:italic;
	text-decoration:underline;
	position:relative;
	left:0;
	top:.8em;
	}
	
p {
	margin: 1em 0 0 25px;
	padding:0;
	}
	
ol, ul, dl{
	padding-top:.5em;
	margin-top:0;
	margin-bottom:0;
	}
	
ol li ol, ul li ul{
	padding:.1em 0 0 0;
	margin:0;
	}
	
li{
 	margin: .4em 0 0 1.5em;
	padding:0;
	}
	
dt{  
	font-weight:bold;
	margin:.75em 0 0 25px;
	padding:0;
	}
	
dd{
	margin: .4em 0 0 4em;
	padding:0;
	font-weight:normal;
	}
			
ul li p, ol li p{
	margin: 0 0 0 20px;
	padding:.4em 0 0 0;
	font-weight:normal;
	}

menu{ /* them menu items are depreciated, but will remain here briefly for legacy */	
	list-style:none;
	margin-top:1.5em;
	}
	
menu menu{
	margin:0;
	padding: 0 0 0 2em;
	}	
	
menu li{
	margin: .15em 5% 0 0;
	}

ol.toc{ /* this ol.toc class replaces the depreciated menu tag */
	list-style:none;
	margin-top:1em;
	}
	
ol.toc ol.toc{
	margin:0;
	padding: 0 0 0 2em;
	}	
	
ol.toc li{
	margin: .15em 5% 0 0;
	}
	
.listhead li{
	font-weight:bold;
	margin:.75em 0 0 1.5em;
	}
	
.listhead li p{
	font-weight:normal;
	margin: 0;
	}
	
.new{
	font-size:inherit;
	font-weight:bold;
	color:#FF0000;
	text-decoration:none;
	}
	
.trail{
	list-style:none;
	margin-left: 173px;
	padding:2px 0 0 0;
	}

.trail li{
	display:inline;
	padding:0 0 0 0;
	margin:0;
	font-size:90%;
	}
	
code{
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	}
	
.code li{ 
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	margin-top:.75em;
	}
	
.code li p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
	}	
	
.note {
	padding:.2em .5em .2em 1.5em;
	margin: 1em 0 0 25px;
	background-color: #efefef;
	border-top: #aaa 1px solid; 
	border-bottom: #aaa 1px solid; 
	}
		
.caution{
	padding:.2em .5em .2em 1.5em;
	margin: 1em 0 0 25px;
	background-color: #efefef;
	border-top: #ffcc33 1px solid;  
	border-bottom: #ffcc33 1px solid; 
	}

.warning{
	padding:.2em .5em .2em 1.5em;
	margin: 1em 0 0 25px;
	background-color: #efefef;
	border-top: #aa0033 1px solid;  
	border-bottom: #aa0033 1px solid; 
	}
	
.warning b, .warning em{
	color:#aa0033;
	}
	
ul li p.note, ul li p.warning, ul li p.caution,
ol li p.note, ol li p.warning, ol li p.caution{
	margin: .8em 0 0 0;	
	padding:.2em .5em .2em 1.5em;
	background-color: #efefef;
	border-top: #ccc 1px solid; 
	}
	
.sidebox .note, .sidebox .caution, .sidebox .warning{
	padding:.2em .5em .2em .7em;
	margin: 1em 0 0 25px;
	}

.notice {
	padding:.5em;
	margin: 1em 0 0 25px;
	background-color: #efefef;
	border-top: #fff; 
	}	
	
.notice form{
	padding:0;
	margin:0;
	}

form {
	padding:0;
	margin:2em 0 0 0;
	}
	
pre {
	background-color: #eee;
	border: 1px solid #bbb;
	color: #000000;
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	margin: 1em 0 0 25px;
	padding: 15px 5px 15px 10px;
	text-align:left;
	overflow: auto;
	}
	
li pre{
	margin: 1em 0 0 0;
	padding: 15px 5px 15px 10px;
	}
	
	
blockquote {
	text-align:justify;
	background: url("quote.gif") no-repeat;
	background-position: 0% 0%;
	padding:10px 20px 5px 20px;
	margin:1em 90px 0 70px;
	}
	
.sidebox blockquote {
	text-align:justify;
	background: url("quote.gif") no-repeat;
	background-position: 0% 0%;
	padding:15px 20px 0 20px;
	margin:5px 20px 5px 20px;
	}
	
#date{
	text-align:left;
	margin: 3em 0 0 1.5em;
	padding:0;
	font-style:italic;
	font-size:x-small;
	}

/* ########## END FONT FORMATS ########## */

/* ########## TABLES ########## */

table {
	border: 1px solid;
	border-color: #ccc; 
	border-spacing:0;
	margin: 1em 0 0 26px;
	border-collapse:collapse;
	clear:right;
	width:95%
	}

th {
	font-weight:bold;
	text-align:left;
	margin-left:3%;	
	border: 1px solid #888;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background-color: #efefef;
	}

td {
	border: 1px solid #ccc; 
	background: #fff;
	text-align:left;
	margin-left:3%;	
	padding: 6px 6px 6px 12px;
	vertical-align:top;
	}
	
td.alt {
	background: #e8e8e8;
	}
	
.columns {
	border: none;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	/* margin-right omitted to avoid IE6 bug */
	}
	
.columns td{
	border: none; 
	padding:0;
	}

/* ########## END TABLES ########## */

/* ########## MISCELLANEOUS ########## */
	
.button {
  margin-top: 2px;
	}

.input input {
  width: 90%;
	}
	
hr{
	border: 1px solid;
	border-color: #ccc; 
	margin: 20px 10px 20px 10px;
	}
	
#pagecontent img{
	border:1px solid;
	margin: 0 0 1em 25px;
	padding:0;
	}
	
/* ########## END MISCELLANEOUS ########## */

/* ######### PRINT PAGE STYLE ########### */

@media print{
	
#sidenav, #footer { /* don't show page navigation */
	visibility:hidden;
	position:absolute;
	}
	
#pagecontent{  /* nudge page content over to fill page */
	float:left;
	position:relative;
	top:0;
	left:-175px;
	width:100%;
	}
	
#doc_title{  /* add another border since bg-color doesn't show */
	border-bottom:1px solid;
	padding-bottom:2px;
	}
		
pre { /* don't print scrollbars---display overflow text */
	overflow:visible;
	}
	
.backtotop, #date{ 
	visibility:hidden;
	}

}
