<%= 
    // Prefix variable definitions to install script:
    new File("${project.buildDir}/shared/install-utils.sh").text
%>
CURRENT_VERSION=<%= openGeeVersion %>-<%= openGeeRelease %>.x86_64
<%= new File("${project.buildDir}/shared/searchexample.sh").text %>
<%= new File("${project.buildDir}/shared/fusiontutorial.sh").text %>
<%= new File(thisTemplateFile.parent, '../snippets/post-install.sh').text %>
